:root {
  --good-color: #64ff7e;
  --neutral-color: #e3ff64;
  --bad-color: #ff6464;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  margin: 0 auto;
}

.goodBtn:hover {
  border-color: var(--good-color);
}

.neutralBtn:hover {
  border-color: var(--neutral-color);
}

.badBtn:hover {
  border-color: var(--bad-color);
}

.good {
  color: var(--good-color);
}

.neutral {
  color: var(--neutral-color);
}

.bad {
  color: var(--bad-color);
}
